html, body, h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dt, dd,
table, caption, thead, tfoot, tbody, tr, th, td,
blockquote, pre, address, img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
}

ul, ol, li {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
}

a {
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

body {
    line-height: 24px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    background-color: #2c3e50;
    color: #FFF;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 792px; /* 22 * 24 (text) + 24 (space) + 10 * 24 (right col) */
}


.header {
    border-top: 2px #f0f0bf solid;
    border-bottom: 2px #FFF solid;
}
.header a {
    text-decoration: none;

}

.header-langs {
    position: absolute;
    top: 16px;
    right: 0;
}
.header-langs img {
    display: inline;

}
.header-logo {
    float: left;
    padding: 16px 16px 16px 0;
}
.header-title {
    padding-top: 16px;
    line-height: 48px;
    font-size: 36px;
    font-weight: bold;
    color: #f0f0bf;
}

.header-subtitle {
    line-height: 32px;
    font-size: 20px;
    padding-bottom: 64px;
}

.header-menu {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 32px;
}

.header-menu-item {
    position: relative;
    z-index: 90;
    border: 2px #f0f0bf solid;
    padding: 4px 12px;
    text-align: center;
    background-color: #455245;
}

@media screen and (min-width: 550px) {
    .header-menu {
        padding-bottom: 0px;
    }
    .header-menu-item {
        display: inline-block;
        min-width: 120px;
        margin: 0 4px;
        border-bottom: none;
    }
    .header-menu-item.active {
        top: 2px;
    }
}

.header-menu-item.active {
    z-index: 100;
    background-color: #fdfffd;
    border-color: #FFF;
    color: #16ae9c;
    position: relative;

}

.header-menu-item a {
    display: block;
}

.footer {
    border-top: 2px #FFF solid;
    background-image: url("cards-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    color: white;
}



.content {
    position: relative;
    z-index: 95;

    background-image: url("Slavonice_background_2025_big.png");
    background-repeat: repeat;
    background-size: 20%;
}

.content .container {
    padding: 24px;
    background-color: #fdfffd;
    color: #000F1B;
}

.content a {
    color: #455245;
}

.text > * {
    margin-bottom: 24px;
}

.text > :last-child {
    margin-bottom: 0;
}

.text > p {
    /*  max-width: 528px; 22 * 24 */
}

.text > h2 {
    clear: both;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #455245;
}

.text > h3 {
    clear: both;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.text img {
    max-width: 100%;
}

.figure {
   /* max-width: 528px; /* 22 * 24 */
}

@media screen and (min-width: 550px) {
    .figure.right {
        float:right;
        margin: 0 0 24px 24px;
        width: 240px; /* 10 * 24 */
    }

    .figure.right table {
        width: 100%;
    }

    .figure.left {
        float:left;
        margin: 0 0 24px 24px;
        width: 520px; /* 10 * 24 */
    }
}

.figure > * {
    margin: 0 auto;
    max-width: 100%;
}
.figure-note {
    text-align: center;
    font-style: italic;
    font-size: 14px;
}

table {
    border: 1px #1b201b solid;
    margin-bottom: -1px;
}

table td, table th {
    border: #1b201b solid;
    border-width: 1px 0;
    padding: 0px 4px;
    vertical-align: top;
}

table :first-line, table :first-line {
    line-height: 23px; /* compensates border */
}
table th {
    border-width: 1px;
    background-color: #455245;
    color: #fff;
}

.nowrap {
    white-space: nowrap;
}


.warning {
    border: 1px #ff0000 solid;
    padding: 16px;
    background-color: #f9e8e5;
}
